.banner {
    margin-top: 100px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap-reverse;
}

.banner-title {
    font-weight: 700;
    font-size: 46px;
}

.banner-desc {
    margin-top: 10px;
    font-weight: 400;
    font-size: 20px;
}

@media screen and (max-width: 1400px) {
    .responsive-banner-part {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .responsive-banner-part:first-of-type {
        margin-top: 40px !important;
    }

    .responsive-banner-part>img {
        width: 50%;
    }
}

@media screen and (max-width: 960px) {
    .banner-title {
        font-size: 30px;
    }

    .banner-desc {
        font-size: 15px;
    }

    .banner-btn {
        font-size: 15px;
    }
    .responsive-banner-part>img{
        width: 75%;
    }
}

@media screen and (max-width: 576px) {
    .responsive-banner-part>img{
        width: 100%;
    }
}

.banner-btn {
    border: none;
    margin-top: 40px;
    background-color: var(--primary);
    font-weight: 500;
    font-size: 18px;
    padding: 10px;
    padding-inline: 20px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

@media screen and (max-width:990px) {
    .banner>div:last-of-type {
        margin-top: 50px !important;
    }
}