@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Quicksand:wght@400;500;700&display=swap');
@import url('./navbar.css');
@import url('./banner.css');
@import url('./special.css');
@import url('./testimonial.css');
@import url('./statistics.css');
@import url('./app.css');
@import url('./footer.css');

:root {
    --primary: #F7C531;
    --dark: #272042;
    --secondary: #8B8BA5;
    --pink: #FBE0DC;
}

body {
    color: var(--dark) !important;
    font-family: 'Quicksand' !important;
    font-weight: 400 !important;
}

.relax {
    position: relative;
}

.index-2 {
    z-index: 2;
}

span.border-b {
    width: 100%;
    height: 6px;
    background-color: var(--pink);
    border-radius: 100px;
    position: absolute;
    z-index: 1;
    transform: translateY(8px);
}

.w-full{
    width: 100%;
}

@media screen and (max-width: 750px) {
    span.border-b {
        height: 3px !important;
        transform: translateY(5px) !important;
    }
}