.topbar {
    margin-top: 60px;
    height: 50px;
    padding-inline: 200px !important;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.logo {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 28px;
}

.logo > img{
    margin-right:10px;
}

.navs {
    align-items: center;
    display: flex;
}

.nav {
    cursor: pointer;
    margin-right: 20px;
    font-weight: 500;
    font-size: 18px;
    color: var(--secondary);
}

.nav:first-of-type {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--dark);
}

.nav-btn {
    font-weight: 500;
    font-size: 18px;
    white-space: nowrap;
    display: flex;
    padding: 10px;
    padding-inline: 20px;
    border: none;
    background-color: var(--pink);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

@media screen and (max-width: 992px) {
    .topbar {
        padding-inline: 50px !important;
    }
}

@media screen and (max-width: 750px) {
    .topbar {
        padding-inline: 5px !important;
    }

    .logo {
        font-size: 16px;
    }

    .logo > img{
        width: 16px !important;
        height: 16px !important;
    }

    .nav {
        margin-right: 10px;
        font-size: 10px;
    }

    .nav-btn {
        font-size: 10px;
        padding: 5px;
        padding-inline: 10px;
    }
}

@media screen and (max-width: 410px) {
    .topbar{
       flex-direction: column;
       justify-content: center;
       align-items: center;
    }
}