.special {
    margin-left: 101px;
    margin-right: 101px;
    margin-top: 128px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.special>.watch {
    color: var(--secondary);
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 10px;
}

.special>.title {
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 30px;
}

.special>.tabs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 59px;
}

.special>.tabs>.tab {
    font-size: 20px;
    line-height: 25px;
    margin-right: 50px;
    padding: 0px;
    cursor: pointer;
}

.special>.tabs>.tab:first-of-type {
    color: var(--primary);
    display: flex;
    flex-direction: column;
}

.special>.tabs>.tab:last-of-type {
    margin: 0;
}

.special>.tabs>.tab:first-of-type>.border-b {
    background-color: var(--primary);
    width: 100%;
    height: 2px;
    margin-top: 10px;
    border-radius: 100px;
}


.special>.products>.product {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.special>.products>.product:last-of-type {
    margin-right: 0px;
}

.special>.products>.product>.image {
    width: 271px;
    height: 285px;
    border-radius: 30px;
    margin-bottom: 30px;
    position: relative;
}

.special>.products>.product>.image>img {
    border-radius: 30px;
}

.special>.products>.product>.image:hover .dark {
    opacity: 1 !important;
    transition: 250ms;
}

.special>.products>.product>.image>.dark {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    background-color: rgba(39, 32, 66, 0.6);
    opacity: 0;
    transition: 250ms;
}

.special>.products>.product>.image>.dark>.circle {
    background-color: var(--pink);
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    cursor: pointer;
}

.special>.products>.product>.title {
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 8px;
}

.special>.products>.product>.desc {
    font-size: 16px;
    line-height: 20px;
    color: var(--secondary);
    margin-bottom: 12px;
}

.special>.products>.product>.stars {
    display: flex;
}

.special>.products>.product>.stars>img {
    width: 22px;
    height: 22px;
    margin-right: 4px;
    border-radius: 1px;
}

.special>.products>.product>.stars>img:last-of-type {
    margin-right: 0;
}

@media screen and (max-width: 1468px) {
    .product{
        margin-top: 100px !important;
    }
}