.stats {
    width: 100%;
    display: flex;
    justify-content: center;
}

.stats>.stat {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 73px;
}

.stats>.stat:last-of-type {
    margin-right: 0;
}

.stats>.stat>.count {
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
}

.stats>.stat>.desc {
    color: var(--secondary);
    font-size: 20px;
    line-height: 25px;
}